@charset "UTF-8";

body {
    background-color: #f7f5f9;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    width: 100vw; 
}

.nav-container {
    grid-column: 1/19;
    grid-row: 1/3;
}

.content-container {
    display: inline-flex; 
    align-items: center;  
    justify-content: center;
    flex-direction: column;
    grid-column: 1/19;
    grid-row: 3/19;
}

.exo-2-font {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

hr {
    border: 1px solid rgb(59, 42, 59);
}

#mobileNav {
    display: block;
    margin: 2%
}

.mobileNavBar {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    
}
    
#siteName {
    position: relative;
    bottom:8px;
    font-size: 3rem;
    font-family: 'DynaPuff', sans-serif;
}

#hamburgerBtn {
    background-color: rgba(0, 0, 0, 0);
    font-size: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

#theLinks {
    background-color: #ffffff;
    text-align: center;
    display:none;
    position:absolute;
    right: 2%; 
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 7px;
    hr{
        max-width: 70%;
    }
}

#theLinks a {
    display: block;
    text-decoration: none;
    color:#0a070c;
}

/*iframe*/
.iframe-container {
    width: 55%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
}

iframe {
    border: none;
    width: 100%; 
    height: 100%;
    border-radius: 8px;
}

/*Web Poem*/
.box {
    padding: 100px;
    max-width: 70%;
    background-color: #331c42;
    margin: 5% auto;
    border-radius: 8px;
    position: relative;
}

.cube {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    left: 10%; 
    top: 40%;
    background-color: green;
    animation: cube 15s forwards;
    animation-delay: 3s;
}

@keyframes cube {
    /*Forward*/
    0% {background-color: green; left: 10%; top: 40%;}
    15% {background-color: yellow; left: 30%; top: 40%;}
    /*Bump*/
    20% {background-color: red; left: 29%; top: 40%;}
    25% {background-color: green; left: 30%; top: 40%;}
    /*Down and Forward*/
    25% {background-color: yellow; left: 30%; top: 40%;}
    30% {background-color: yellow; left: 30%; top: 60%;}
    40% {background-color: yellow; left: 50%; top: 60%;}
    /*Up and Bump*/
    50% {background-color: yellow; left: 50%; top: 20%;}
    55% {background-color: red; left: 50%; top: 25%;}
    60% {background-color: green; left: 50%; top: 20%;}
    /*Forward and Bump*/
    70% {background-color: yellow; left: 70%; top: 20%;}
    75% {background-color: red; left: 69%; top: 20%;}
    80% {background-color: green; left: 70%; top: 20%;}
    /*Down and Forward*/
    85% {background-color: yellow; left: 70%; top: 40%;}
    90% {background-color: yellow; left: 80%; top: 40%;}
    95% {background-color: green; left: 90%; top: 40%;} 
    100% {background-color: #331c42; left: 90%; top: 40%; animation-delay: 8s;} 
}

@keyframes bounce {
    0% { opacity: 1; }
    0% { transform: translateY(0); }
    20% { transform: translateY(-20px); }
    50% { transform: translateY(0); }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

.jump {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

.text1 {
    opacity: 0;
    animation-duration: 2s;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 0%;
    left: 47%;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    45% { opacity: 1; }
    100% { opacity: 0; }
}

.text2 {
    opacity: 0;
    animation-name: fadeInOut;
    animation-delay: 5.5s;
    animation-duration: 1s;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 0%;
    left: 45%;
}

#flash {
    animation-name: fadeInOut;
    animation-duration: 0.1s;
    animation-iteration-count: 5;
}

.text3 {
    opacity: 0;
    animation-delay: 10.5s;
    animation-duration: 1s;
    color: orangered;
    font-size: 50px;
    position: absolute;
    top: 0%;
    left: 45%;
    border-radius: 10px; 
}

@keyframes shake {
    0% { transform: rotate(0); opacity: 0; }
    25% { transform: rotate(-5deg); opacity: 1; }
    50% { transform: rotate(5deg); opacity: 1; }
    75% { transform: rotate(-5deg); opacity: 1; }
    100% { transform: rotate(0); opacity: 0; }
}

#shaking {
    display: inline-block;
    animation-name: shake;
    animation-duration: 0.2s;
    animation-iteration-count: 3;
}

.text4 {
    opacity: 0;
    animation-delay: 13.5s;
    animation-duration: 1s;
    color: red;
    font-size: 50px;
    position: absolute;
    top: 0%;
    left: 45%;
    border-radius: 10px; 
}

.text5 {
    opacity: 0;
    animation-delay: 17.5s;
    animation-duration: 3s;
    color: white;
    font-size: 70px;
    position: absolute;
    top: -15%;
    left: 47%;
}

@keyframes rubberBand {
    0% {transform: scaleX(1) scaleY(1);opacity: 0;}
    30% {transform: scaleX(1.25) scaleY(0.75);opacity: 1;}
    40% {transform: scaleX(0.75) scaleY(1.25);opacity: 1;}
    60% {transform: scaleX(1.15) scaleY(0.85);opacity: 1;}
    100% {transform: scaleX(1) scaleY(1);opacity: 1; animation-delay: 2s;}
}

.pop {
    animation-name: rubberBand;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.text6 {
    opacity: 0;
    animation-delay: 20s;
    animation-duration: 3s;
    color: white;
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 47%;  
}

@keyframes rotate {
    0% {transform: rotate(0deg);opacity: 1;}
    50% {transform: rotate(180deg); opacity: 1;}
    100% {transform: rotate(360deg); opacity: 1;}
}

.rotating {
    animation:rotate 2s linear;
}

.text7 {
    opacity: 0;
    animation-delay: 23s;
    animation-duration: 3s;
    color: white;
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 47%;   
}

@keyframes left{
    0% {background-color: green; left: 47%; top: 15%; opacity: 1;}
    50% {background-color: yellowgreen; left: 65%; top: 15%; opacity: 1;}
    100% {background-color: yellowgreen; left: 80%; top: 15%; opacity: 1;}
}
.text8 {
    opacity: 0;
    animation-name: left;
    animation-delay: 26s;
    animation-duration: 3s;
    color: white;
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 47%;   
}


@keyframes right{
    0% {background-color: green; left: 80%; top: 15%; opacity: 1;;}
    50% {background-color: yellowgreen; left: 65%; top: 15%; opacity: 1;}
    100% {background-color: yellowgreen; left: 47%; top: 15%; opacity: 1;}
}

.text9 {
    opacity: 0;
    animation-name: right;
    animation-delay: 29s;
    animation-duration: 3s;
    color: white;
    background-color: green;
    padding: 8px;
    border-radius: 10px;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 80%;   
}

@keyframes fadeOut{
    0% { opacity: 1; animation-delay: 1s;}
    100% { opacity: 0; }
}
.text10 {
    opacity: 0;
    animation-name: fadeOut;
    animation-delay: 32s;
    animation-duration: 2s;
    color: white;
    font-size: 60px;
    position: absolute;
    top: -10%;
    left: 47%;
}

