@charset "UTF-8";

body {
    background-color: #f7f5f9;
    font-family: "Exo 2", sans-serif;
    text-align: center;
    margin: 0px;
}

.exo-2-font {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }


hr {
    border: 1px solid rgb(59, 42, 59);
}

h1 {
    margin-top: 5px;
    font-size: 70px;
    color: #0a070c;
}

p {
    margin: 0 30px; 
    color: #0a070c;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
    height: 100vh;
    width: 100vw; 
}

.nav-container {
    grid-column: 1/19;
    grid-row: 1/3;
}

.content-container {
    display: inline-flex; 
    align-items: center;  
    justify-content: center; 
    text-align: left;
    grid-column: 2/17;
    grid-row: 5/15;
}

.content-container img {
    width: 50%; 
    height: auto;
    display: block;
    margin: 0 auto; 
}

.larger-text {
    font-size: 60px;
    font-weight: bold;
}

 /*if screen size < 1000px*/
@media screen and (max-width: 1000px) {
    .content-container{
        display:block;
    }

    p{
        text-align: center;
        margin: 0 auto;
        max-width:  70%;
    }

}


#mobileNav {
    display: block;
    margin: 2%
}

.mobileNavBar {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#siteName {
    position: relative;
    bottom:8px;
    font-size: 3rem;
    font-family: 'DynaPuff', sans-serif;
}

#hamburgerBtn {
    background-color: rgba(0, 0, 0, 0);
    font-size: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#theLinks {
    background-color: #ffffff;
    text-align: center;
    display:none;
    position:absolute;
    right: 2%; 
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 7px;

    hr{
        max-width: 70%;
    }
}

#theLinks a {
    display: block;
    text-decoration: none;
    color:#0a070c;
}
