body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }  

#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: aquamarine;
    padding: 0px;
    border-radius: 20px;
}

.dot {
    width: 50px;
    height: 50px;
}

.player {
    background-color: blue;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: auto;
}

.exit {
    background-color: yellow;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: auto;
}

.wall {
    background-color: grey;
}

#container {
    margin-left: 5%;
}

#timer {
    font-family: "Sedan SC", serif;
    font-size: 45px;
    padding: 15px;
    background-color: aquamarine;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

#result{
    font-family: "Sedan SC", serif;
    font-size: 40px;
    padding: 15px;
    background-color: aquamarine;
    border-radius: 20px;
    width: 100%;
    text-align: center;
}

#reset {
    font-family: "Sedan SC", serif;
    font-size: 40px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 20px;
    width: 120%;
    text-align: center;
    border-color: transparent;
}

#reset:hover{
    background-color: rgb(36, 174, 128);
}

a{
    display: block;
    font-family: "Sedan SC", serif;
    font-size: 40px;
    padding: 15px;
    background-color: aquamarine;
    border-radius: 20px;
    width: 100%;
    text-align: center; 
    text-decoration: none;
    color:black;
}

a:hover{
    background-color: rgb(36, 174, 128);
}

