.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #172d46;
    font-family: "Anta", sans-serif;
}

.news-container {
    max-width: 93%;
}

.news-item-link {
    text-decoration: none;
    color:#172d46;
}

.news-item {
    display: flex;
    padding: 15px;
    background-color: #cadcf7;
    border-radius: 20px;
    margin-bottom: 20px;
}

.news-item img {
    width: 30%;
    height: auto;
    border-radius: 20px;
    margin-right: 15px; 
}

.news-content {
    flex-grow: 1;
}

.news-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 2.2vw;
    font-weight: bold;
}

.news-description {
    margin: 0;
    font-size: 1.7vw;
}

.news-item:hover {
    background-color: #FFD892;
    color: #172d46;
}

 /*if screen size < 700px*/
 @media screen and (max-width: 700px) {
    .news-container {
        max-width: 90%;
    }
    .news-item {
        display: flex;
        padding: 10px;
        background-color: #cadcf7;
        border-radius: 10px;
        margin-bottom: 10px;
    }
    
    .news-item img {
        width: 25%;
        height: auto;
        border-radius: 15px;
        margin-right: 10px;
    }
    
    .news-title {
        margin: 0;
        margin-bottom: 5px;
        font-size: 3vw;
        font-weight: bold;
    }
    
    .news-description {
        margin: 0;
        font-size: 2.5vw;
    }
    
 }